*.py[co]
*.swp
*.orig

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt
src

# Unit test / coverage reports
.coverage
.tox
coverage.xml
cover
htmlcov
nosetests.xml
pep8.txt

# Translations
*.mo

# IDE stuff
.ropeproject
.env/
data
settings_local_whoiscache.py
